{% extends 'layout.server.view.html' %}

{% block content %}
  <h2>Contact us</h2>
{% endblock %}


{% extends 'layout.server.view.html' %}

{% block content %}

<div class="page page--content">
  <div class="page-title">
    <h1>Contact Us</h1>
  </div>

  <section class="page-section">

    <div class="page-section__block page-section__block--billing">

      <div class="row">
        <div class="col-md-offset-3 col-md-3">
          <strong><span class="glyphicon glyphicon-home" style="padding-right:15px"  ></span>Corporate Headquarters</strong><br>
          807 Ocean Boulevard<br>
          Isle of Palms. SC 29451<br></div>
        <div class="  col-md-2">
          <strong><span class="glyphicon glyphicon-phone"  style="padding-right:15px" ></span>Phone</strong><br>
          (877) 7MY-COST<br />
        </div>
        <div class=" col-md-2">

          <strong><span class="glyphicon glyphicon-envelope"   style="padding-right:15px" ></span>E-Mail</strong><br>
          <a href="mailto:questions@healthcost.com">Questions@HealthCost.com</a>
        </div>
      </div>




    </div>

  </section>

</div>
{% endblock %}
