{% extends 'layout.server.view.html' %}

{% block content %}

<div class="page page--content">
  <div class="page-title">
    <h1>FAQ</h1>
  </div>

  <section class="page-section">

    <div class="page-section__block page-section__block--billing">
      <h2>General</h2>

      <h3>What is HealthCost.com?</h3>
      <p>

        HealthCost allows any consumer to understand the components that typically make up common healthcare services and show what these components will cost in an itemized manner. We will show who performs the service you are looking for in your search area and how the total cost of varies by location of service, facility type, and doctor selection. Our consumer focus is to provide transparent cost and quality tools to empower you during your healthcare decision making process.
      </p>

      <h3>What is the target audience?</h3>
      <p>While any healthcare consumer can shop for services on HealthCost, we feel that consumers who do not have insurance coverage, who have Medicare Part B but lack Part C coverage, who have high deductible health plans or whose coverage plan has a limited provider network will find the HealthCost tools most attractive. Our services are not intended for use for patients covered by Medicaid.</p>

      <h3>How do I contact HealthCost.com?</h3>
      <p>Please go to the following <a href="/contact" target="_self">HealthCost Contact Us</a> page for information on how to contact us by phone, mail, or email based on your preference.</p>

      <h3>What is the benefit of HealthCost.com?</h3>
      <p>The HealthCost benefit to consumers is empowerment. You select the search criteria for the healthcare services you are interested in, HealthCost shows you where the services are performed and at what cost. If you choose a HealthCost Networks<sup>SM</sup> provider, you will be given the opportunity to lock-in the rate that you see on our website and the doctor will call you within one business day to set up an appointment.</p>

      <h2>HealthCost.com interface</h2>

      <h3>What is the Medicare allowed amount displayed on HealthCost.com?</h3>
      <p>During HealthCost search process, you will be provided the Medicare allowed amount for the service you are searching. This is the fee Medicare will approve for the services provided to all Medicare Fee for Service Beneficiaries in 2017. It is intended to serve as a reference when reviewing provider charges or HealthCost Networks<sup>SM</sup> rates.</p>

      <h3>What is the difference between provider charges and HealthCost Networks<sup>SM</sup> rates?</h3>
      <p>Charges refer to the amount your provider establishes and subsequently submits on their bill to government and private health payer organizations for a medical service. HealthCost Networks<sup>SM</sup> Rates are the private pay rate HealthCost providers are willing to accept from a consumer for medical services.
      </p>

      <h3>Are the provider charges and HealthCost Networks<sup>SM</sup> rates accurate?</h3>
      <p>Provider charges demonstrated on HealthCost are taken from the most recent publically available Medicare claims data unless manually updated by the provider on the HealthCost Provider Portal. HealthCost Networks<sup>SM</sup> rates are the current rates available for a network provider.</p>

      <h3>Will a HealthCost Networks<sup>SM</sup> provider honor the rates found on HealthCost.com?</h3>
      <p>HealthCost Network Providers have contractually agreed to honor the rates that they post on HealthCost and that you lock in.</p>

      <h3>How do I expand the HealthCost.com search parameters to find lower cost?</h3>
      <p>From the search results page simply click the “Search Farther to Save $$$” button.</p>

      <h3>Why are there no facility charges or Rates for services performed at a practitioner’s office?</h3>
      <p>Practitioners bill global rates for services performed at their offices. This includes the cost for professional services as well as the facility cost.</p>

      <h3>Why are there ancillary charges found in the total cost of a service?</h3>
      <p>In certain instances, providers are allowed to bill for added supplies used during the procedure. HealthCost will demonstrate those costs in a transparent manner as ancillary charge line items.</p>

      <h2>Health Insurance Plans</h2>

      <h3>Will my insurance company cover services I receive from the provider I select on HealthCost.com?</h3>

      <p>Health insurance coverage will be based on the terms and conditions of your health insurance policy. We cannot guaranty that your health insurance company will cover the services from a provider that you select on HealthCost.  However, as a general rule, we think that your health insurance will cover the services of a provider you select on HealthCost if the services are covered under your policy and:</p>

      <ul>
        <li>your health insurance does not have a network and covers services of all qualified providers; or</li>
        <li>the provider you select on HealthCost participates in the network for your health care coverage; or</li>
        <li>if the provider you select on HealthCost does not participate in the network for your health care coverage, but your coverage includes out of network benefits.</li>
      </ul>

      <p>If your health insurance plan requires a referral or prior authorization as a condition of coverage, those requirements for coverage must be met.</p>

      <p>Even when a service is covered, you may be responsible for deductibles, coinsurance copayments under your health care coverage.  Be aware that deductibles, coinsurance and copayments required by your health insurer might be higher if the provider you select does not participate in your health insurer’s network for your coverage.</p>

      <p>We believe that your health insurer will NOT cover services you receive from the provider you select on HealthCost if:</p>

      <ul>
        <li>the services you receive from the provider are not covered services under your policy; or</li>
        <li>the provider you select on HealthCost does not participate in the network for your health care coverage, and your coverage does not include out of network benefits; or</li>
        <li>the provider you select on HealthCost does not meet your insurance company’s license requirements or is excluded because the provider is a member of your family.</li>
      </ul>

      <p>If you have questions, check with your insurance company.</p>

      <h3>Who submits the bills to my insurance carrier for costs that I pay to a provider I select on HealthCost.com?</h3>

      <p>You are expected to pay the provider you select on HealthCost at the time you receive the services. You will have to submit the bill and proof of payment to your insurance company for reimbursement or to apply the payment to your deductible.</p>

      <h3>Can the payment I make to a HealthCost Networks<sup>SM</sup> provider for services I receive be applied to my insurance deductible?</h3>

      <p>Whether a payment you make to a HealthCost provider for services you receive can be applied to your deductible will be based on the terms and conditions of your health insurance policy. We cannot guaranty that your health insurance company will apply payment you make to a HealthCost provider.  However, many insurance companies make provision for their beneficiaries to submit claims for services that the beneficiary has paid out of pocket.  As a general rule, we think that your health insurance will apply a payment you make to a HealthCost provider to your deductible if:</p>

      <ul>
        <li>the services are covered under your policy, and</li>
        <li>your health insurance policy covers services rendered by the provider you select on HealthCost; and</li>
        <li>all other conditions of coverage, such as referrals or preauthorizations have been met.</li>
      </ul>

      <p>We think that health insurance carriers might not be willing to apply to your deductible more than the amount the insurance company would have paid. If you have questions, contact your health insurance company.</p>

  </section>

</div>
{% endblock %}
