{% extends 'layout.server.view.html' %}

{% block content %}

<div class="page page--content">
  <div class="page-title">
    <h1>HealthCost.com Privacy Policy</h1>
  </div>

  <section class="page-section">

    <div class="page-section__block page-section__block--billing">
      <p>Last Updated: January 6, 2017</p>
      <p>This Privacy Policy describes the types of information that we may collect about you when you visit our website, HealthCost.com, or our mobile applications, and explains how we may use and disclose that information. It applies to information we collect when you register for an account or use our website or mobile applications (collectively, the "Services"). Please read this policy carefully. By accessing or using the Service, you agree to this Privacy Policy.</p>
      <p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy.</p>
      <h3>Information That We May Collect and How We Collect It</h3>
      <p>We collect information in two ways:</p>
      <ul>
        <li><u>Information You Provide Directly.</u> We collect all information that you enter when using the Service. For example, we will collect the information you furnish to us when you create an account, conduct a search, or use our social media sites.</li>
        <li><u>Information Collected Automatically.</u> We collect the following kinds of information automatically using technology:</li>
        <li>
          <ul>
            <li>All click-stream data, log files, IP addresses, domain and host from which the internet is accessed, browser and software information;</li>
            <li>Tracking cookies and session cookies;</li>
            <li>Page views, dates, times and durations of site visits and information on actions taken on our site; and</li>
            <li>Device and browser type, operating system, referring URLs, destination URLs.</li>
          </ul>
        </li>
      </ul>
      <h3>How We Use the Information We Collect</h3>
      <p>We use the information we collect for lawful purposes only including: providing services to you, including communicating with you about our products and services, de-identifying the information, making our site more useful to visitors, considering additional features, functionality, security of the Service, marketing, and for other purposes that we describe when you provide the information.</p>
      <p>Information we collect automatically helps us understand how the site is performing, improve the site and deliver a better service. We use this information to monitor and evaluate usage patterns, add and change content, make the site more user-friendly, and design and deliver information to visitors quickly and easily, among other things.</p>
      <p>We may also use information to enforce the Terms and Conditions.</p>
      <h3>Information We May Disclose</h3>
      <p>We may disclose your information for lawful purposes, consistent with applicable laws regulations, to support our business or improve our products or services, including but not limited to disclosures to: contractors, service providers and other third parties we use to support
        ; our data contributors and other stakeholders; our subsidiaries and affiliates; researchers; or a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some or all of our assets. We may also disclose consumer information to health care providers when a consumer Locks In rates for network providers. The information disclosed may include the types of information that are considered to be personal health information (“PHI”) in the Health Insurance Portability and Accountability Act, and related regulations. By accessing our Service you are agreeing to this Privacy Policy and you authorize us to electronically disclose this information as provided herein.
      </p>
      <p>We will disclose credit card information to our contracted payment processor who processes credit card payments. We do not retain complete information regarding your credit cards, but only information that allows us to identify the card in your account.</p>
      <p>Required Notice Under the Texas Health and Safety Code, Sec. 181.154
        Because the HealthCost Service may involve the electronic sharing of certain protected health Information (PHI), such as with Service Providers in connection with their providing their services and with doctors for whom we are assisting with securing medical procedures, we are required to post this notice to clients that their PHI is subject to electronic disclosure.
      </p>
      <p>We may also disclose your information for the following reasons: to comply with any court order, law or legal process; to fulfill the purpose for which you provide it; for any other purpose disclosed by us when you provide the information; and with your consent.</p>
      <p>We may also publicly disclose aggregated information based on information you provide to us or that we collect automatically. For example, from time to time we may publish or disclose to others the most common search queries or other aggregated information.</p>
      <h3>Data Security</h3>
      <p>We have implemented measures designed to secure your information from accidental loss and from unauthorized access, use and disclosure. However, the transmission of information via the Internet is never completely secure. We cannot guarantee the security of your information transmitted to our site and any transmission of information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on our site.</p>
    </div>

  </section>

</div>
{% endblock %}
