/* diag-section styles */
.diag-section{
  position: relative;
  overflow: hidden;
  z-index: 1;
  @include media("screen", ">desktop") {
    background: $black-haze;
    padding: 28px 0 55px;
  }
  &:after{
    content: '';
    @include top-right-position(100%, 0);
    @include size(760px, 222px);
    position: absolute;
    transform: rotate(-17deg) translateY(7px);
    transform-origin: 0  -102px;
    background: rgba($regent-gray, 0.05);
    z-index: -1;
    @include media("screen", ">desktop") {
    }
  }
  h2{
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 14px;
    @include media("screen", ">desktop") {
      font-size: 36px;
      margin: 0 0 30px;
    }
  }
  .graph-col{
    @include media("screen", ">=tablet") {
      padding-top: 40px;
      margin: 0 0 70px;
    }
    @include media("screen", ">=widescreen") {
      float: right;
      padding-top: 0;
      width: 49%;
      max-width: 560px;
      margin: 0 0 30px;
    }
  }
}
