/* map styles */
.map{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include media("screen", ">desktop") {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }

  img{
    @include size(100%, auto);
  }

  a{
    &.pin{
      &:hover{
        color: rgba($white, 0.8);
      }
    }
  }

  .pin{
    @include media("screen", ">desktop") {
      &:hover {
        color: rgba($white, 0.8);
      }
    }
    @include circle-image(26px);
    overflow: visible;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: $white;
    box-shadow: 0 2px 2px rgba($dark-gray, 0.32);
    @include media("screen", ">desktop") {
      @include size(28px);
      line-height: 28px;
      font-size: 16px;
    }
    &.healthcost{
      &:after{
        content: $icon-cross;
        position: absolute;
        font-size: 12px;
        line-height: 1;
        @include top-right-position(-4px, -4px);
        color: $green;
        z-index: 2;
        text-shadow: 0 1px $white, 0 -1px  $white, 1px 0 $white, -1px 0 $white;
        @include media("screen", ">desktop") {
          font-size: 14px;
          @include top-right-position(-6px, -6px);
        }
      }
    }
    &.office{
      background: $blue;
    }
    &.in-hospital{
      background: #005a29;
    }
    &.out-hospital{
      background: #ee2a7b;
    }
    &.home{
      background: $dark-gray;
    }
    &.center{
      background: #f57e20;
    }
    &.selected{
      box-shadow: 0 2px 2px rgba($dark-gray, 0.32), 0 0 36px 15px rgba(#8dc63f, 0.9);
    }
  }
  .btn{
    font-size: 14px;
    font-weight: bold;
    left: 10px;
    @include top-right-position(10px, 10px);
    display: block;
    max-width: 350px;
    position: absolute;
    padding: 7px 20px;
    @include media("screen", ">desktop") {
      left: auto;
      @include top-right-position(20px, 20px);
      font-size: 18px;
      padding: 12px 25px;
    }
  }
  .redo-search-button {
    z-index: 30;
    right: 10px;
    left: auto;
    //transition: 0.5s linear all;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .key-list{
    //z-index: 30;
    font-size: 14px;
    color: $emperor;
    position: absolute;
    @include bottom-right-position(15px, 0);
    transform: translateX(100%);
    //padding: 15px 13px;
    background: rgba($white, 0.9);
    z-index: 10;
    @include animate(transform);
    @include media("screen", ">desktop") {
      font-size: 17px;
      transform: translateX(0);
      //@include bottom-right-position(146px, 0);
      bottom: 20px;
    }
    &.visible{
      width: 250px;
      @include media("screen", ">=350px") {
        width: 290px;
      }
      @include media("screen", ">desktop") {
        width: 310px;
      }
      transform: translateX(0);
      padding: 15px 13px;
      .key-opener{
         &:after{
          content: $icon-angle-right;
        }
      }
      .key-slide {
        display: block;
        width: auto;
      }
    }
    .key-opener{
      position: absolute;
      float: left;
      @include bottom-left-position(0, 0);
      background: $black;
      padding: 8px 11px 8px 22px;
      border-radius: 6px 0 0 6px;
      line-height: 1;
      font-weight: bold;
      transform: translateX(-100%);
      color: $white;
      font-size: 18px;
      &:after{
        @extend .icomoon;
        content: $icon-angle-left;
        position: absolute;
        font-size: 14px;
        @include top-left-position(50%, 13px);
        transform: translateY(-50%);
      }
    }
    .key-slide{
      display: none;
      width: 0;
      padding: 0;
      //@include media("screen", ">desktop") {
      //  display: block;
      //  width: auto;
      //}
      text-align: right;
      color: $tundora;
      @extend %listreset;
      margin: 0 0 -10px;
      li{
        position: relative;
        margin: 0 0 9px;
      }
      .pin{
        position: relative;
        @include size(28px);
        line-height: 28px;
        @include inline-block(middle);
        margin: 0 0 0 12px;
        &.healthcost{

        }
      }
    }
  }
}

/* pins-list styles */
.pins-list{
  margin-bottom: 7px;
   .pin{
    @include circle-image(23px);
    overflow: visible;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    color: $white;
    box-shadow: 0 2px 2px rgba($dark-gray, 0.32);
    @include media("screen", ">desktop") {
      @include size(28px);
      line-height: 28px;
    }
    &.healthcost{
      &:after{
        content: $icon-cross;
        // @extend .icomoon;
        position: absolute;
        font-size: 10px;
        line-height: 1;
        top: -4px;
        right: -3px;
        color: $green;
        z-index: 2;
        text-shadow: 0 1px $white, 0 -1px  $white, 1px 0 $white, -1px 0 $white;
      }
    }
    &.office{
      background: $blue;
    }
    &.in-hospital{
      background: #005a29;
    }
    &.out-hospital{
      background: #ee2a7b;
    }
    &.home{
      background: $dark-gray;
    }
    &.center{
      background: #f57e20;
    }
  }
}
/* zoom buttons styles for map */
.zoom-btns{
  display: none;
  position: absolute;
  @include size(29px, 57px);
  @include top-left-position(20px, 20px);
  @include media("screen", ">desktop") {
    display: block;
  }
  &:after{
    content: '';
    @include size(19px, 1px);
    position: absolute;
    @include top-left-position(50%, 50%);
    transform: translate(-50%,-50%);
    background: #e6e6e6;
  }
  .plus,
  .minus{
    @include size(29px, 28px);
    position: absolute;
    @include top-left-position(0, 0);
    background: $white;
    border-radius: 3px 3px 0 0;

    &:hover{
      background: #dadada;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      @include top-left-position(50%, 50%);
      transform: translate(-50%,-50%);
      @include size(11px, 3px);
      background: #666;
    }
    &:before{
      @include size(3px, 11px);
    }
  }
  .minus{
    top: auto;
    bottom: 0;
    border-radius: 0 0 3px 3px;
    &:before{
      display: none;
    }
  }
}

.place-popup {
  position: absolute;
  width: 262px;
  z-index: 20;
  background: #485269;
  color: $white;
  font-size: 14px;
  padding: 7px 10px 35px;

  //@include media("<=desktop") {
  //  display: none;
  //}

  @include media("screen", ">desktop") {
    width: 323px;
    font-size: 14px;
    padding: 13px 18px 40px;
  }
  &:after{
    content:'';
    position:absolute;
    pointer-events:none;
    @include top-left-position(100%, 50%);
    border:solid transparent;
    border-top-color:$black;
    border-width:8px 5px;
    margin:0 0 0 -5px;
    @include media("screen", ">desktop") {
      border-width: 15px 10px;
      margin-left: -10px;
    }
  }
  .title{
    font-size: 18px;
    font-weight: 600;
    @include media("screen", ">desktop") {
      font-size: 20px;
    }
  }
  .place{
    font-size: 16px;
    display: block;
    margin: 0 0 10px;
    @include media("screen", ">desktop") {
      font-size: 14px;
      margin: 0 0 17px;
    }
  }
  p{
    margin: 0 0 8px;
    @include media("screen", ">desktop") {
      margin: 0 0 9px;
    }
    b{
      font-weight: 600;
    }
  }
  .price{
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0 0 3px;
    @include media("screen", ">desktop") {
      font-size: 18px;
      margin: 0 0 16px;
    }
  }
  span{
    display: block;
  }
  .view-more{
    display: block;
    padding: 7px 10px;
    color: $white;
    background: $green;
    z-index: 1;
    position: absolute;
    @include bottom-left-position(5px, 0);
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    @include animate(background);
    @include media("screen", ">desktop") {
      font-size: 13px;
      padding: 8px 10px;
      bottom: 9px;
    }
    &:hover{
      background: $dark-green;
      color: $white;
      &:after{
        border-top-color:$dark-green;
      }
    }
    &.orange{
      background: #f7941d;
      &:hover{
        background: #db7800;
      }
    }

  }
  .row{
    display: table;
    width: 100%;
    margin: 0 0 12px;
    .cell{
      display: table-cell;
      vertical-align: top;
      &:last-child{
        text-align: right;
        padding-left: 5px;
      }
    }
  }
}

.gm-style {
  font-family: inherit;
}
