html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
  color: $base-text-color;
  background: $base-background-color;
  font: #{$font-size-base}/#{$line-height-base} $base-font-family;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media("screen", ">=tablet") {
    font-size: floor($font-size-base * 1.143);
  }
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
sub, sup{
  font-size: 57%;
}

// google map fix
.gm-style img {max-width: none}

input:focus,
textarea:focus {
  outline: none;
}

.close {
  text-shadow: none;
}
